body{
    background-image: url(IMG_2868\ 2.jpg);
    background-repeat: repeat;
    background-attachment: fixed;
}
#header{
    background-color: black;
    
}form{
    border-style: ridge;
    text-shadow: 2px 2px red ;
}
p{
    text-shadow: 2px 2px red ;
}
div{
    border-style: ridge;
    border-width: 10px;
}
#footer{
    background-color: black;   
}